---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Hero>
		<h1 class="text-4xl">Get In Touch</h1>
        <p>Email us at <a class="font-bold" href="mailto:support@teststore.com">support@teststore.com</a> if you need help with your purchase.</p>
	</Hero>
</Layout>
