---
import Navigation from "./Navigation.astro";
---
<header class="h-12 bg-gray-800 text-white flex items-center justify-between px-8">
    <a class="hover:text-gray-500 transition-colors" href="/">Test Store</a>
    <Navigation />
</header>