<nav>
    <ul class="flex gap-4">
        <li class="hover:text-gray-500 transition-colors"><a href="/pm-test/products">Products</a></li>
        <li class="hover:text-gray-500 transition-colors"><a href="/pm-test/contact">Contact</a></li>
    </ul>
</nav>